name: Go build

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "README.md"
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
  # We test at a regular interval to ensure we are alerted to something breaking due
  # to an API change, even if the code did not change.
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    environment: TestingEnv
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go:
          - "1.23"
          - "1.24"
          - "1.25"

    steps:
      - uses: actions/checkout@v6

      - name: Set up Go cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache: false

      - name: Build
        run: go build -v ./...

      - name: Test
        run: make test

      - name: E2E Test
        run: make e2e
        env:
          CLOUDCONNEXA_BASE_URL: ${{ vars.CLOUDCONNEXA_BASE_URL }}
          CLOUDCONNEXA_CLIENT_ID: ${{ secrets.CLOUDCONNEXA_CLIENT_ID }}
          CLOUDCONNEXA_CLIENT_SECRET: ${{ secrets.CLOUDCONNEXA_CLIENT_SECRET }}
